table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

thead {
  font-family: Poppins, sans-serif;
  color: gray;
  font-weight: 160;
}

.table-headers {
  border-top: #dddddd;
}

th, td {
  padding: 12px;
  text-align: left;
  font-family: Poppins, sans-serif;
  border-top: 1px solid #dddddd; 
  color: gray;
  font-weight: 160;
}

th {
  border-top: 1px solid #dddddd;
}

.sort-button {
  background: white;
  border: none;
  cursor: pointer;
}

.sort-reverse::after {
  background: white;
  border: none;
  content: '▼';
}
 